.container {
  min-height: 100vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container footer {
  align-items: center;
}

.container footer p {
  text-align: center;
  font-size: 14px;
}

.headerTitle:hover {
  cursor: pointer;
}

@media (min-width: 700px) {
  .headerTitle {
    font-size: 42px;
  }
}
