.dough {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* TODO: TROCAR O NOME DA MASSA E VERIFICAR UMA MANEIRA DE DEIXAR MAIS ESPAÇADO */
}

.dough p {
  text-align: center;
}

.dough p:first-child {
  font-size: 20px;
}

.selected {
  width: 160px;
  height: 25px;
}

.doughNameWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 45px 0 0 0;
}

.doughNameWrapper p {
  font-weight: 600;
}

.arrowButton {
  background: none;
  border: none;
  color: var(--white);
}
